/* .btn {
    -fx-background-color: white;
}

.btn:hover {
    -fx-background-color:  #6b9c39;
}

.field {
    -fx-padding: 4px;
    -fx-background-color: white;
    -fx-background-radius: 3px;
    -fx-border-color: green;
    -fx-border-radius: 3px;
} */

/* .jfx-tab-pane .tab-header-area .tab-selected-line {
    -fx-background-color: #ffffff;
} */

/* .jfx-tab-pane:top .depth-container .tab-header-area .headers-region .tab-selected-line {
    -fx-background-color: green;
} */

.tab {
    -fx-pref-width: 160;
    -fx-pref-height: 30;
}

.tab-header-background {
    -fx-background-color: rgb(85, 187, 85);
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: white;
}

